body{
    margin:0;
    padding:0;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("c4.jpg");
    background-position: center no-repeat;
    background-size: cover;
}
.b{
    width:370px;
    height:320px;
    position: absolute;
    color:black;
    top:20%;
    left:30%;
    border:3px solid black;
    box-shadow: 3px 5px 4px;
    background-color: rgb(141, 113, 76);
   
}
.b p{
    font-size:20px;
    text-transform: uppercase;
    margin-left:30px;
}
input{
    margin:auto;
    position: relative;

}
input[type="text"] {
border-radius:15px 13px 13px 15px;
height:4vh;
padding:3px;
margin-top: 0;
margin-left:30px;
margin-top: 10px;
}
input[type="submit"] {
    border-radius: 15px 13px 13px 15px;
    width:100px;
    height:30px;
    padding:3px;
margin-top: 0;
position: relative;
cursor: pointer;
}

span.psw {
    float: right;
    padding-top: 16px;
  }
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  